# Django Settings
DJANGO_SECRET_KEY=django-insecure-8ohy&yo^--#=8y2xp65$!vph!gepd&+va8%6pfy%0p!szs!xr+
DEBUG=True

# Google Gemini API Settings
# Get a key from: https://aistudio.google.com/
GEMINI_API_KEY=Ab8RN6JOQcHuh954eqax7sw_Fz3POVX4EV5dBWuYBxrGy2sIMQE
GEMINI_MODEL=gemini-1.5-flash
