# Django Settings
DJANGO_SECRET_KEY=django-insecure-8ohy&yo^--#=8y2xp65$!vph!gepd&+va8%6pfy%0p!szs!xr+
DEBUG=True

# Google Gemini API Settings
# Get a key from: https://aistudio.google.com/
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
GEMINI_MODEL=gemini-1.5-flash
